<form action="/anecdotas" method="POST">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input type="text" name="search" value="{{texto}}" class="form-control proper" id="inlineFormInputGroup" placeholder="Usuario">
                <a onclick="this.closest('form').submit(); return false;">
                    <div class="input-group-prepend h-100">
                        <div class="input-group-text proper">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {{#if texto}}
        {{#if notas}}
        <div class="col-auto d-block">
            
            <h4 class="text-right"> Anécdotas de {{texto}}</h4>
            
        </div>
        {{else}}
        <div class="col-auto d-block">
        
            <h4 class="text-right"> No encontramos ese Usuario.</h4>
        
        </div>
        {{/if}}
        {{/if}}
    </div>
</form>
<hr>
<div class="card-columns w-100">
    {{#each notas}}
    <a href="/anecdotas/{{_id}}" class="anec">
        <div class="card">
            <img src="/user/img/{{imageid}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-truncate">{{title}}</h5>
                <p class="card-text overflow">{{description}}</p>
            </div>
        </div>
    </a>
    {{/each}}
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/anecdotas?page=1&limit=12"><i class="fas fa-chevron-left"></i></a>
        </li>
        <li class="page-item"><a class="page-link" href="/anecdotas?page=1&limit=12">1</a></li>
        <li class="page-item"><a class="page-link" href="/anecdotas?page=2&limit=12">2</a></li>
        <li class="page-item"><a class="page-link" href="/anecdotas?page=3&limit=12">3</a></li>
        <li class="page-item">
            <a class="page-link" href="/anecdotas?page=4&limit=200"><i class="fas fa-chevron-right"></i></a>
        </li>
    </ul>
</nav>